<div class="d-grid gap-2 d-md-flex justify-content-md-end mb-2">
    <c-dropdown variant="btn-group">
        <button cButton cDropdownToggle>
          Action
        </button>
        <ul cDropdownMenu>
          <li (click)="save(1)"><a cDropdownItem>Update to Passed</a></li>
          <li (click)="save(2)"><a cDropdownItem>Update to Failed</a></li>
          <li (click)="save(3)"><a cDropdownItem>Reject</a></li>
        </ul>
      </c-dropdown>
</div>

<div class="row">
    <c-col class="col-md-6">
        <c-card class="card-resume" class="mb-4">
            <c-card-body>
                <div class="mb-3">
                    <c-col class="text-right">
                        <c-badge [color]="candidate.Status == 'InProgress' ? 'warning' : 
                        candidate.Status == 'Passed' ? 'success' :
                        candidate.Status == 'Failed' ? 'danger' : 'dark'">{{candidate.Status}}</c-badge>
                    </c-col>
                    <h4 class="card-title mb-0">{{candidate.Name}} </h4>
                    <div class="text-medium-emphasis">{{candidate.JobVacancyName}} 
                    </div>
                </div>
                <c-row>
                    <c-col>
                        <div class="fw-semibold">Email</div>
                        <p>{{candidate.Email}}</p>
                    </c-col>
                    <c-col>
                        <div class="fw-semibold">Phone Number</div>
                        <p>{{candidate.NoHandphone}}</p>
                    </c-col>
                </c-row>
                <c-row>
                    <c-col>
                        <div class="fw-semibold">AI Screening Status</div>
                        <c-badge [color]="candidate.AIScreeningStatus == 'Pending'? 'info': candidate.AIScreeningStatus == 'Success' ? 'success' :
                        'danger'">{{candidate.AIScreeningStatus}}</c-badge>
                    </c-col>
                    <c-col>
                        <div class="fw-semibold">Apply date</div>
                        <p>{{candidate.ApplyDate}}</p>
                    </c-col>
                </c-row>
                <c-col>
                    <div class="fw-semibold">Skill</div>
                    <div *ngIf="!candidate.Skill">-</div>
                    <div class="mb-1">
                        <c-badge *ngFor="let item of candidate.Skill; index as i" [ngClass]="{'position-relative': true, 'mx-2': true, 'badge bg-info': item.AiPassed, 'badge bg-secondary': !item.AiPassed}">{{item.ApplicantItemName}}</c-badge>
                    </div>
                </c-col>
                <c-col>
                    <div class="fw-semibold">Experience</div>
                    <div *ngIf="!candidate.Experience">-</div>
                    <div class="mb-1">
                        <c-badge *ngFor="let item of candidate.Experience; index as i" [ngClass]="{'position-relative': true, 'mx-2': true, 'badge bg-info': item.AiPassed, 'badge bg-secondary': !item.AiPassed}">{{item.ApplicantItemName}}</c-badge>
                    </div>
                </c-col>
                <c-col>
                    <div class="fw-semibold">Education</div>
                    <div *ngIf="!candidate.Education">-</div>
                    <div class="mb-1">
                        <c-badge *ngFor="let item of candidate.Education; index as i" [ngClass]="{'position-relative': true, 'mx-2': true, 'badge bg-info': item.AiPassed, 'badge bg-secondary': !item.AiPassed}">{{item.ApplicantItemName}}</c-badge>
                    </div>
                </c-col>
            </c-card-body>
        </c-card>
    </c-col>

    <c-col class="col-md-6">
        <c-card class="card-resume" *ngIf="resumeParse">
            <c-card-header>
                <strong>Resume</strong>
            </c-card-header>
            <c-card-body>
                <c-row>
                    <c-col>
                        <div class="fw-semibold">First Name</div>
                        <p>{{resumeParse.hireability.extracted_data.personal_infos.name.first_name}}</p>
                    </c-col>
                    <c-col>
                        <div class="fw-semibold">Last Name</div>
                        <p>{{resumeParse.hireability.extracted_data.personal_infos.name.last_name}}</p>
                    </c-col>
                </c-row>
                <div class="mb-3">
                    <h4 class="card-title mb-0">Education</h4>
                    <div>
                        <ul *ngFor="let item of resumeParse.hireability.extracted_data.education.entries; index as i"> 
                            <li class="fw-semibold">{{item.description}}</li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <h4 class="card-title mb-0">Work Experience</h4>
                    <div>
                        <ul *ngFor="let item of resumeParse.hireability.extracted_data.work_experience.entries; index as i"> 
                            <li><strong>{{item.title}} {{item.company}}</strong>
                                <p>{{item.description}}</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="mb-3">
                    <h4 class="card-title mb-0">Skill</h4>
                    <div>
                        <ul *ngFor="let item of resumeParse.hireability.extracted_data.skills; index as i"> 
                            <li>{{item.name}}</li>
                        </ul>
                    </div>
                </div>
            </c-card-body>
        </c-card>
    </c-col>
    
</div>